.App {
  text-align: center;
}
App.module .activeColor {
  color: chocolate;
}

.baseColor {
  font-size: 20px;
  color: cadetblue;
}

.naviLinks {
  list-style: none;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(178, 178, 252);
}
